<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capturar Pokémon</title>
</head>
<body>
    <h2>Formulario para Capturar Pokémon</h2>
    <form th:action="@{/formPokemon}" th:object="${pokemon}" method="post">
        <label for="nombre">Nombre del Pokémon:</label>
        <input type="text" th:field="*{nombre}" required>

        <label for="region">Región:</label>
        <select th:field="*{region}" required>
            <option th:each="r : ${regiones}" th:value="${r}" th:text="${r.nombre}"></option>
        </select>

        <button type="submit">Capturar Pokémon</button>
    </form>
</body>
</html>