<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capturar Pokemon</title>
</head>
<body>
    <h2>Formulario para Capturar Pokemon</h2>
    <form th:action="@{/formPokemon}" th:object="${pokemon}" method="post">
        <label for="nombre">Nombre del Pokemon:</label>
        <input type="text" th:field="*{nombre}" required>

        <label for="region">Región:</label>
        <select th:field="*{region}" required>
            <option th:each="r : ${regiones}" th:value="${r}" th:text="${r.nombre}"></option>
        </select>

        <button type="submit">Capturar Pokemon</button>
        
        <td>
		    <a th:href="@{/eliminarPokemon/{id}(id=${pokemon.id})}">Eliminar</a>
		</td>
    </form>
</body>
</html>