<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
    <br><br>
    <a th:href="@{/listaPokemon}"><h2>Mostrar Pokémon</h2></a><br>
    <a th:href="@{/listaRegion}"><h2>Mostrar Región</h2></a><br>
    <br><br>
    <a th:href="@{/formInsertarPokemon}"><h3>Insertar un nuevo Pokemon</h3></a>
    <a th:href="@{/formInsertarRegion}"><h3>Insertar una nueva Región</h3></a>
    <br><br>
    <a th:href="@{/formEntrenador}"><h3>Registrar un nuevo Entrenador</h3></a>
    <a th:href="@{/listaEntrenadores}"><h3>Mostrar Lista de Entrenadores</h3></a>
</body>
</html>